# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
duckdb
tabulate
nba_api
pyarrow
google-cloud-storage
protobuf>=3.20.2,<5.0.0

# Development dependencies
black
flake8
flake8-docstrings
mypy
pre-commit
pip-tools

# Type stubs
types-tabulate
pandas-stubs
types-pytz
types-requests
